<h1>Change Password</h1>
<section class="change-password">
	<div class="container">
		<form (ngSubmit)="changepassword(form.value)" [ngFormModel]="form">
			<div class="form-group">
		    	<label for="firstname">Your old Password</label>
		    	<input type="text" ngControl="oldpassword" class="form-control" id="oldpassword" placeholder="" #oldpassword="ngForm">
		    	<div *ngIf="oldpassword.errors && oldpassword.touched" class="error">
				    You must input your old Password
				</div>
				<div *ngIf="oldPasswordWrongFlag" class="error">
				    Your old password is invalid
				</div>
		  	</div>
		  	<div class="form-group">
			    <label for="lastname">New password</label>
			    <input type="text" ngControl="newpassword" class="form-control" id="newpassword" placeholder="" #newpassword="ngForm">
			    <div *ngIf="newpassword.errors && newpassword.touched" class="error">
				    You must input new password
				</div>
				<div *ngIf="samePasswordWithOldCheckFlag" class="error">
				    Your newpassword must be not same your old password
				</div>
		  	</div>
		  	<div class="form-group">
			    <label for="exampleInputEmail1">Confirm New password</label>
			    <input type="text" ngControl="confirmnewpassword" class="form-control" id="confirmnewpassword" placeholder="Your Quote" #confirmnewpassword="ngForm">
			    <div *ngIf="confirmnewpassword.errors" class="error">
			    	Confirm Password different with Password
				</div>
		  	</div>
		  	<button type="submit" [disabled]="!form.valid" class="btn btn-success pull-right">Submit</button>
		</form>
	</div>
</section>